.root {
  padding: 50px;
}
.title {
  font-weight: bold !important;
}
.description {
  margin: 20px !important;
}
.icon {
  margin-left: 20px;
}
.comments {
  &_send {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &_message {
    display: flex;
    flex-direction: column;
  }
}
.header {
  display: flex;
  align-items: center;
}
.content {
  position: relative;
}
