.root {
  padding: 50px;
}
.title {
  font-weight: bold !important;
}
.description {
  margin: 20px !important;
}
.icon {
  margin-left: 20px;
}
.comments {
  &_send {
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 700px) {
      flex-direction: column;
      div {
        width: 98%;
      }

      align-items: end;
    }
  }
  &_message {
    display: flex;
    flex-direction: column;
  }
}
.header {
  display: flex;
  align-items: center;
}
.content {
  position: relative;
}
.tags_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px 0px;

  .tag {
    font-size: 20px;
    margin: 10px 0px 0px 10px;
    background-color: rgb(23, 126, 194);
    color: white;
    padding: 2px 5px;
    border-radius: 8px;
    cursor: pointer;
    &:hover {
      background-color: #1c3395;
    }
  }
}
.button {
  position: absolute;
  left: 80%;
  @media (max-width: 720px) {
    left: 70%;
  }
  @media (max-width: 600px) {
    button {
      font-size: 11px;
    }
  }
  @media (max-width: 450px) {
    left: 60%;
    top: -8%;
  }
}
