.parent {
  display: block;
  .top {
    display: flex;
    flex-direction: row;
  }
}
.article_light {
  position: relative;
  font-size: 24px;
  font-weight: 500;
  top: 1%;
  left: 3%;
  color: rgb(24, 10, 106);
}
.article_dark {
  position: relative;
  font-size: 24px;
  font-weight: 500;
  top: 1%;
  left: 3%;
  color: white;
}
.popular {
  grid-area: 1 / 1 / 2 / 2;
  padding: 10px;
  width: 50%;
  .underSlider {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
  }
}
.tags {
  grid-area: 1 / 2 / 2 / 3;
  padding: 10px;
  width: 50%;
  &_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px 0px;
    .tag {
      font-size: 20px;
      margin: 10px 0px 0px 10px;
      background-color: rgb(23, 126, 194);
      color: white;
      padding: 2px 5px;
      border-radius: 8px;
      cursor: pointer;
      &:hover {
        background-color: #1c3395;
      }
    }
  }
}
.title_light {
  text-align: center;
  font-size: 30px;
  color: rgb(24, 10, 106);
}
.title_dark {
  text-align: center;
  font-size: 30px;
  color: white;
}
.collection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  .post {
    width: 33%;
  }
}
.link {
  text-decoration: none;
}
