.root {
  padding: 10px 0;
  background-color: aliceblue;
  .wrapper {
    display: flex;
    justify-content: space-between;
    .logo {
      text-decoration: none;
    }
    .buttons {
      .ifAuth {
        display: flex;
        .name {
          font-weight: 700;
          color: #1c3395;
          line-height: 35px;
        }
      }
      button {
        margin-left: 10px;
      }
      a {
        text-decoration: none;
      }
    }
  }
}
