.root_light {
  transition: 1s;
  padding: 10px 0;
  background-color: aliceblue;
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .right_block {
      display: flex;
      align-items: center;
      .language {
        margin-right: 8px;
        font-size: 24px;
        cursor: pointer;
        transition: 1s;
        user-select: none;
        @media (max-width: 650px) {
          font-size: 20px;
        }
        &:hover {
          transform: scale(1.2);
        }
      }
      .icon {
        &_light {
          margin-right: 8px;
          margin-top: 6px;
          cursor: pointer;
          transition: 1s;
          svg {
            @media (max-width: 650px) {
              width: 20px;
            }
          }
          &:hover {
            color: blue;
            transform: scale(1.2);
          }
        }
      }
      .ifAuth {
        display: flex;
        .name_light {
          font-weight: 700;
          color: #1c3395;
          line-height: 35px;
        }
      }
      button {
        margin-left: 10px;
        @media (max-width: 650px) {
          font-size: 11px;
        }
      }
      a {
        text-decoration: none;
      }
    }
  }
}
.root_dark {
  padding: 10px 0;
  background-color: rgb(10, 25, 41);
  transition: 1s;
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .right_block {
      display: flex;
      align-items: center;
      .language {
        margin-right: 8px;
        font-size: 24px;
        cursor: pointer;
        transition: 1s;
        user-select: none;
        color: white;
        @media (max-width: 650px) {
          font-size: 20px;
        }
        &:hover {
          transform: scale(1.2);
        }
      }
      .icon {
        &_dark {
          color: white;
          margin-right: 8px;
          margin-top: 6px;
          cursor: pointer;
          transition: 1s;
          svg {
            @media (max-width: 650px) {
              width: 20px;
            }
          }

          &:hover {
            color: orange;
            transform: scale(1.2);
          }
        }
      }
      .ifAuth {
        display: flex;
        .name_dark {
          font-weight: 700;
          color: white;
          line-height: 35px;
        }
      }
      button {
        margin-left: 10px;
        @media (max-width: 650px) {
          font-size: 11px;
        }
      }
      a {
        text-decoration: none;
      }
    }
  }
}
.logo {
  text-decoration: none;

  button {
    @media (max-width: 650px) {
      font-size: 11px;
    }
  }
}
.buttons {
  display: flex;
  a {
    button {
      @media (max-width: 650px) {
        font-size: 11px;
      }
    }
  }
  @media (max-width: 480px) {
    flex-direction: column-reverse;
    align-items: center;
    gap: 5px;
  }
}
