.root {
  padding: 50px;
  &_title {
    text-align: center !important;
    font-weight: bold !important;
    margin-bottom: 30px !important;
  }
  .collection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    .post {
      width: 33%;
      @media (max-width: 900px) {
        width: 50%;
      }
      @media (max-width: 650px) {
        width: 100%;
      }
    }
  }
}
.link {
  text-decoration: none;
}
