.root {
  position: relative;
  left: -120px;
  input {
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 12px 20px;
    border-radius: 8px;
    padding-left: 45px;
    font-size: 16px;
    font-weight: 600;
    transition: 1s;
    &:focus {
      border: 1px solid rgba(0, 0, 0, 1);
      width: 300px;
    }
    @media (max-width: 850px) {
      width: 200px;
    }
    @media (max-width: 780px) {
      width: 150px;
    }
  }
  .icon {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20%;
    left: 3%;
    opacity: 0.3;
  }
  @media (max-width: 1150px) {
    left: 0px;
  }
}
